@model Laboration3.Models.Student

@{
    ViewData["Title"] = "AddStudent";
}

<h1>AddStudent</h1>

<p>Antal poster som uppdaterades: @ViewBag.antal</p>
<p>Ett eventuellt felmeddelande: @ViewBag.error</p>