@{
    ViewBag.Title = "Upload Image";
}

<h2>Upload Image</h2>

@using (Html.BeginForm("Upload", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="form-group">
            <label for="file">Select an image:</label>
            <input type="file" name="file" id="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
}
