@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Complete</title>
</head>
<body>
    <h2>Upload Complete</h2>
    <p>The image has been successfully uploaded to the database.</p>
    <a href="@Url.Action("Show", "Image")">View Image</a>
</body>
</html>